@import 'variables';
@import 'mixins';

.footer {
  background-color: $secondary-color;
  color: $white-color;
  padding: 20px;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;

    a {
      color: $primary-color;
      text-decoration: none;
      @include link-hover($white-color);
    }
  }
}
