@mixin box-shadow-hover($hover-shadow) {
    transition: transform $transition-duration, box-shadow $transition-duration;
    &:hover {
      transform: translateY(-10px);
      box-shadow: $hover-shadow;
    }
  }
  
  @mixin link-hover($hover-color) {
    transition: color $transition-duration;
    &:hover {
      color: $hover-color;
    }
  }
  