$primary-color: #3cac55;
$secondary-color: #261045;
$white-color: #ffffff;
$text-color: #333333;
$secondary-text-color: #666666;
$box-shadow: 0 6px 22px -3px rgba(0, 0, 0, 0.1);
$transition-duration: 0.3s;
